@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#141414] text-white !scrollbar-thin !scrollbar-track-transparent !scrollbar-thumb-red-600
  }

  header {
    @apply fixed top-0 z-50 flex w-full items-center justify-between px-4 transition-all lg:px-[60px] h-[68px]
  }
}

@layer components {
  .header-link {
    @apply cursor-pointer text-sm font-light text-[#e5e5e5] transition duration-[.4s] hover:text-[#b3b3b3] select-none text-[13.5px]
  }

  .header-left-container {
    @apply flex items-center space-x-2 md:space-x-10
  }

  .header-right-container {
    @apply flex items-center space-x-[20px] text-sm font-light
  }

  .search-input {
    @apply pl-[35px] h-[35px] outline-0 bg-[#23201d] border-solid border-[1px] transition-all duration-500
  }

  .search-icon {
    @apply h-6 w-6 absolute left-[7px] bottom-[5px] z-10
  }

  .banner-button {
    @apply flex items-center gap-x-2 rounded px-5 py-1.5 text-sm font-semibold transition hover:opacity-75 md:py-2.5 md:px-8 md:text-xl;
  }

  .overview-paragraph {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    line-clamp: 4;
    -webkit-line-clamp: 4;
    display: -webkit-box;

    @apply overflow-ellipsis overflow-hidden max-w-md text-xs text-shadow-md md:max-w-lg md:text-lg lg:max-w-2xl lg:text-2xl font-light pr-4 md:pr-0
  }

  .preview-overlay {
    will-change: opacity;
    @apply z-[1] fixed bg-[#000000cc] top-0 bottom-0 left-0 right-0 w-full !ml-0
  }
}
